
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media  screen and (min-width:375px) {
    body {
        background-color: hsl(30, 38%, 92%);
    }
    
    p {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(103, 102, 102);
    }
    
    h1 {
        font-family: 'Fraunces', serif;
        font-size: 32px;
        text-align: left;
        width: 9em;
    }
    
    #content {
        background-color: white;
        width: 65%;
        height: 430px;
        margin-left: 15%;
        margin-bottom: 5%;
        padding-left: 18px;
        padding-top: 170px;
        margin-top: -33%;
        margin-bottom: 2em;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }
    
    #cart {
        background-color: hsl(158, 36%, 37%);
        color: white;
        width: 60%;
        height: 52px;
        display: flex;
        padding-left: 4em;
        border-radius: 10px;
        margin-left: 5px;
        margin-top: 2em;
    }
    
    #icon {
        height: 30%;
        padding-top: 11%;
        padding-right: 0,5em;
    }
    
    h3 {
        padding-left: 5px;
    
    }
    
    #div_photo {
        display: flex;
    }
    
    #photo {
        width: 69%;
        height: 250px;
        margin-top: 3%;
        margin-left: 15%;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    
    
    #text {
        line-height: 25px;
        text-align: left ;
        width: 16em;
    }
    
    #discont {
        color: hsl(158, 36%, 37%);
        font-size: 35px;
        font-family: 'Fraunces', serif;
        margin-top: 25px;
    }
    
    #price {
        text-decoration: line-through;
        margin-left: 12em;
        margin-top: -4em;
    }
}



@media screen and (min-width: 1440px) {

    h1 {
        font-size: 34px;
        width: 7em;
    }

    #photo {
        width: auto;
        height: 500px;
        margin-top: 8%;
        margin-left: 27%;
        display: flex;
        border-bottom-left-radius: 5%;
        border-top-right-radius: 0%;
    }

    #content {
        background-color: white;
        width: 20%;
        height: 480px;
        margin-left: 49%;
        margin-bottom: 5%;
        padding-left: 30px;
        padding-top: 20px;
        margin-top: -33%;
        border-top-right-radius: 5%;
        border-bottom-left-radius: 0%;
    }

    #cart {
        background-color: hsl(158, 36%, 37%);
        color: white;
        width: 60%;
        height: 52px;
        display: flex;
        padding-left: 4em;
        border-radius: 10px;
        margin-left: 5px;
        margin-top: 2em;
    }
    
    #discont {
        color: hsl(158, 36%, 37%);
        font-size: 35px;
        font-family: 'Fraunces', serif;
        margin-top: 5px;
    }
    
    #price {
        text-decoration: line-through;
        margin-left: 12em;
        margin-top: -4em;
    }
    

}